aerospike==16.0.2
alabaster==1.0.0
altgraph==0.17.4
Arpeggio==2.0.2
async-timeout==4.0.3
attrs==25.1.0
babel==2.16.0
blinker==1.9.0
Brotli==1.1.0
certifi==2024.8.30
charset-normalizer==3.4.0
click==8.1.7
colorama==0.4.6
contourpy==1.3.0
cycler==0.12.1
dash==2.18.2
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
docutils==0.21.2
Flask==2.1.3
Flask-Compress==1.17
fonttools==4.54.1
hazelcast-python-client==5.5.0
idna==3.10
imagesize==1.4.1
importlib_metadata==8.6.1
itsdangerous==2.2.0
Jinja2==3.1.4
jsonpickle==3.3.0
kafka-python==2.0.6
kiwisolver==1.4.7
./lidarocclusion
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.9.2
mdit-py-plugins==0.4.2
mdurl==0.1.2
msgpack==1.1.0
myst-parser==4.0.0
narwhals==1.30.0
nest-asyncio==1.6.0
numpy==2.1.2
packaging==24.0
paho-mqtt==2.1.0
pandas==2.2.3
pefile==2023.2.7
pika==1.3.2
pillow==11.0.0
plotly==5.0.0
portion==2.6.0
Pygments==2.18.0
pyignite==0.6.1
pyinstaller==6.11.0
pyinstaller-hooks-contrib==2024.8
pyparsing==3.2.0
PyQt5==5.15.11
PyQt5_sip==12.17.0
PyQtWebEngine==5.15.7
pyrsistent==0.20.0
python-dateutil==2.9.0.post0
python-memcached==1.62
pytz==2025.1
pywin32-ctypes==0.2.2
PyYAML==6.0.2
redis==5.2.0
requests==2.32.3
retrying==1.3.4
robosapiensio==0.3.9
six==1.16.0
snowballstemmer==2.2.0
sortedcontainers==2.4.0
Sphinx==8.1.3
sphinx-markdown-tables==0.0.17
sphinx-rtd-theme==3.0.1
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
tarantool==1.2.0
tenacity==9.0.0
textX==4.1.0
tomli==2.0.2
typing_extensions==4.12.2
tzdata==2025.1
urllib3==2.2.3
websocket-client==1.8.0
websockets==10.3
Werkzeug==2.0.3
zipp==3.21.0
zstandard==0.23.0
